aiohttp==0.20.0
appnope==0.1.0
chardet==2.3.0
decorator==4.0.6
gnureadline==6.3.3
path.py==8.1.2
pexpect==4.0.1
pickleshare==0.5
ptyprocess==0.5
requests==2.9.1
simplegeneric==0.8.1
telepot==5.0
traitlets==4.0.0
beautifulsoup4==4.4.1
